form {
  mat-form-field {
    width: 100%;
  }
}


mat-card {
  max-width: 80%;
  min-width: 220px;
  margin: 2em auto;

  mat-card-actions {
    gap: 6px;
    justify-content: center;
  }
}


.lessons-container {
  padding-top: 10px;

  .lessons-item {
    display: flex;
    gap: 10px;

    .lesson-name {
      width: 65%;
    }

    .lesson-link {
      flex: 1;
    }

    .lesson-button {
      display: flex;
    }
  }
}
